* {

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: rgba(116, 116, 239, 0.56);


}

#userInfo {
    font-size: 1.5em;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    min-width: 500px;
}

#userInfo td {
    padding: 10px;
    user-select: all;
    width: auto;
}


#userInfo tr:nth-child(even) {
    background-color: rgba(116, 116, 239, 0.56);

}

#userInfo tr:nth-child(odd) {
    background-color: #efe974;

}


#userInfo td:last-child {
    text-align: right;

}

#grupy {
    user-select: text !important;
}